/* BODY */
* {
    font-family: 'Open-sans', sans-serif;
}

body {
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container {
    margin: auto;
}

/* COMMON  CLASSES */
.primary-text {
    font-family: 'Open-sans', sans-serif;
    color: firebrick;
}


/* MAIN-HEADER */
#main-header {
    border-bottom: 1px solid black;
    color: #2d3436;
}


/* NAVBAR */
#navbar a {
    font-family: 'Open-sans', sans-serif;
    text-decoration: none;
    color: dimgrey;
}

#navbar ul {
    list-style-type: none;

}

#navbar li {
    font-family: 'Open-sans', sans-serif;
    display: inline;
    text-decoration: none;
    text-align: right
}

.button {
    font-family: 'Open-sans', sans-serif;
    background-color: deepskyblue;
    border-color: deepskyblue;
    color: #fff;
    padding: 7px;
}

#navbar li.current a,
#navbar a:hover {
    color: deepskyblue;
    border-bottom: 3px solid deepskyblue;
    padding-bottom: 3px;
}


/* IMAGE */
img {
    width: 100%;
}

/* SECTION:SHOWCASE */
#showcase {
    background: url('../images/1.jpg') no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

#showcase .span {
    margin: 0px;
    border-bottom: 3px solid #56a79a;
}

#showcase h1 {
    padding-right: 100px;
    padding-top: 150px;
    color: #fff;
    text-align: left;
    margin: 10px;

}

/* PAGE */
#page {
    padding: 50px;
    font-family: 'Open-sans', sans-serif;

}

#page h3 .line {
    margin: 0px;
    border-bottom: 2px solid #56a79a;
}

/* PACKAGES */
#packages .box {
    height: auto;
    box-shadow: 0px 30px 40px -20px black;
}

#package p {
    padding-top: 10px;
}

#packages button {
    border-color: black;
    background-color: black;
    color: #fff;
    padding: 7px;
}

#packages .read-more {
    color: deepskyblue;
    font-size: 15px;
}


/* SUB CONTENT */
#sub-content {
    padding: 50px;
}

/* COMPANY*/
#company {
    background-color: #232020;
    color: #fff;
    height: auto;
    padding: 38px;
}

#company p {
    font-size: 10px;
}

#company h5 {
    margin-bottom: 0px;
}

#company a {
    color: #fff;
    margin-top: 20px;
    padding: 5px;
}

#company input {
    padding-right: 10px;
    padding: 3px;
    margin-top: 5px;
    background-color: #636e72;
    color: #fff;
    border: #232020;
}

/* MAIN FOOTER */
#footer {
    background-color: #2d3436;
    color: #fff;
    font-size: 10px;
}